.pselection-container{
    padding: 30px;
    margin: 0;
    color: black;
}

.pselection-title{
    font-size: 1.5rem;
    font-weight: bold;
}


@media (max-width: 480px) {
    .pselection-container{
        padding: 20px;
    }
}