.header{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


.container{
    padding: 30px;
    margin: 1px;
    color: black;
}

@media (max-width: 480px) {
    .container{
        padding: 20px;
    }
}